<div class= "container">
  <h1><%= @survey.name %></h1>
  <h3>By: <%= @survey.user.username %></h3>

  <h4>This survey has been completed <%= times = @survey.questions.first.answers.count %> <%= times ==1 ? "time" : "times" %>.</h4>
  <br>

  <% @survey.questions.each_with_index do |question, index| %>
    <div class="question">
    <h2><%= question.question %></h2>
      <% user_result = [] %>
      <% for j in (1..5) %>
        <% @users_count = @survey.questions[index].answers.where(answer:(j)).count %>
        <p><%= @users_count %> <%= @users_count ==1 ? "user" : "users" %> said <%= answer_to_text(j,@users_count) %></p>

      <% end %>
      <% if question.answers.any? %>
        <h3>Average: <%= average_result(question.id).round(2) %> out of 5</h3>
        <br>
      <% end %>
      <div id="question<%= index %>" style="width: 600px; height: 400px"></div>
    </div>
  <% end %>
</div>


<!-- Pie Chart JavaScript -->
<script type="text/javascript">
function drawVisualization() {
  questions = $('.question');
  console.log(questions)

  for ( var q=0; q<questions.length; q++ )
    {

      var hash = {};

      for ( var l=0; l<5; l++)
      {
      hash[l] = parseInt($($(questions[q]).find('p')[l]).text()[0]);
      };

      var data = google.visualization.arrayToDataTable([
        ['Opinion', 'Count'],
        ['Really don\'t like it', hash[0]],
        ['It\'s just okay', hash[1]],
        ['They\'re indifferent', hash[2]],
        ['It\'s good', hash[3]],
        ['Love it!!', hash[4]]
      ]);

        new google.visualization.PieChart(document.getElementById('question'+q)).
        draw(data);
        console.log('question'+q)
    };
}

google.setOnLoadCallback(drawVisualization);
</script>

